# Local micro-directories and caches
.terraform/
.terraform.lock.hcl

# State files and backups
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Variables and secrets
*.tfvars
*.tfvars.json

# Override files
*_override.tf
*_override.tf.json
_override.tf
_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

.idea